<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<body style="
    background-image: url('/static/images/tlo_pokoj.jpg');
    background-size: 33%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;

    justify-content: center;  /* poziome wyśrodkowanie */
    align-items: center;      /* pionowe wyśrodkowanie */
">
    <h1 style="color: white; text-align: center;">Menu gry</h1>
<div style="text-align: center; margin-top: 50px;">
    <a href="/strona2">
        <button style="padding: 10px 20px; font-size: 16px;">Przejdź dalej</button>
    </a>
</div>
</body>
<h1>Menu gry</h1>
</body>
</html>